* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black: black;
--silver-sand:#C4C4C4;
--medium-violet-red:#C10C99;
--white: white;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header{
  background-image: url(assets/images/Rectangle11.png);
}
header a {
  position: absolute;
  bottom: 626px;
  left: 10px;
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
    line-height: 30px;
}
.container .image-side{
width: 700px;
height: 900px;

}